* {
  outline: 1px dotted red;
}

h1 {
  width: ;
  height: ;
  border: 40px dotted green;
  padding: 5px solid pink;
  margin: 2px dashed gold;
}

h2 {

}

h3 {

}

div {

}

ul {

}

a {


}

p {
  font-size: 12px;
}
